/* Cor de fundo e fonte padrão */
body {
  
    font-family: Arial, sans-serif;
    background-color: #e9f0fd;
}
  
/* Estilo do container de login */
.container {
  display: flex; 
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #d2e0fb;
  align-items: center; 
  padding: 50px; 
  gap: 40px;   
}


.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 30px; 
}

/* Estilizando os Inpit */
#senhaInput,
#loginInput,
#confirmarInput {
  border-radius: 40px;
  border: none;
  width: 100%;
  padding: 15px 20px;
  
}

#loginInput::placeholder,
#senhaInput::placeholder,
#confirmarInput::placeholder {
  color: black; 
}

/* Estilo do botão de login */
#loginButton {
  border-radius: 40px;
  border: none; 
  background-color: #8EACCD; 
  color: white; 
  padding: 10px 40px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#loginButton:hover {
  background-color: #447fbe; 
}

/* Estilo da tabela de homepage */
.homeTable {
  margin: 0 auto;
  text-align: center;
  border-spacing: 20px; 
}

.homeTable td {
  background-color: white;
  width: auto;
  text-align: center; 
  vertical-align: middle; 
  padding: 0.5rem;
}

/* Alinhamento central para h1 */
h1 {
  text-align: center;
}

/* Estilos para elementos inline, como ícones e texto */
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

/* Estilo da lista */
ul {
  text-align: left;
  list-style-type: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #D2E0FB;
  max-width: 400px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


p {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #074173;
}